@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <div class="btn-group" role="group">
            <a ui-sref=".ModelBinderOhneWatch" ui-sref-active="active" class="btn btn-default"><strong>Modelbinder ohne Watch</strong></a>
            <a ui-sref=".Formvalidation" ui-sref-active="active" class="btn btn-default"><strong>Formvalidation</strong></a>
            <a ui-sref="Home.HighCharts" ui-sref-active="active" class="btn btn-default"><strong>Highcharts</strong></a>
            <a ui-sref="Home.DirectiveTests" ui-sref-active="active" class="btn btn-default"><strong>Directive Tests</strong></a>
            <a ui-sref=".AngularStrapModal" ui-sref-active="active" class="btn btn-default"><strong>Angular Strap Modal</strong></a>
            <a ui-sref=".TemplateUrlTest" ui-sref-active="active" class="btn btn-default"><strong>Angular Template URL Test</strong></a>
            <a ui-sref=".NgPattern" ui-sref-active="active" class="btn btn-default"><strong>Ng-Pattern</strong></a>
            <a ui-sref=".UnitTests" ui-sref-active="active" class="btn btn-default"><strong>Js UnitTests</strong></a>
        </div>
    </div>
</div>


<div ui-view></div>


