@{
    ViewBag.Title = "TemplateUrlTest";
    Layout = null;
}

<div ng-controller="TemplateUrlTestCtrl as ctrl">
    <div class="row">
        <div class="col-lg-12">
            <h2>TemplateUrlTest</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ctrl.name}}
        </div>
        <div test-template></div>
    </div>
</div>

