#mainContainer {
    margin-top: 60px;
}

/* ALERT Styles Navigation - START*/
.dropdown-menu > li > table {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
    /*word-wrap: break-word*/
    margin: 0;
    padding: 0;
}

.dropdown-menu.alert-menue {
    padding: 0;
    border-top: 0;
}

.linkCursor {
    cursor: pointer;
}
/* ALERT Styles Navigation - ENDE*/

/* Error Color für Multiselect Dropdown */
.has-error .btn-default:hover,.has-error  .btn-default:focus,.has-error 
.btn-default:active,.has-error  .btn-default.active,.has-error 
.open .dropdown-toggle.btn-default {
    border-color: #a94442;
}